In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
!pip install dython

Requirement already satisfied: dython in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (0.7.9)
Requirement already satisfied: numpy>=1.23.0 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from dython) (1.26.4)
Requirement already satisfied: pandas>=1.4.2 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from dython) (2.1.4)
Requirement already satisfied: seaborn>=0.12.0 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from dython) (0.12.2)
Requirement already satisfied: scipy>=1.7.1 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from dython) (1.14.1)
Requirement already satisfied: matplotlib>=3.6.0 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from dython) (3.8.0)
Requirement already satisfied: scikit-learn>=0.24.2 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from dython) (1.2.2)
Requirement already satisfied: psutil>=5.9.1 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from dython) (6.1.1)
Requirement already satisfied: setuptools in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from dython) (68.2.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.6.0->dython) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.6.0->dython) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.6.0->dython) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.6.0->dython) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.6.0->dython) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.6.0->dython) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.6.0->dython) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.6.0->dython) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from pandas>=1.4.2->dython) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from pandas>=1.4.2->dython) (2023.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from scikit-learn>=0.24.2->dython) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from scikit-learn>=0.24.2->dython) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\aparnaj8\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.6.0->dython) (1.16.0)

In [9]:
import pandas as pd
import glob
import os

## Read files

In [191]:
import os
import pandas as pd
import concurrent.futures

# Define the path to the folder
folder_path = r"C:\Users\aparnaj8\Box\Data (Matthew Rizzo)\DataAnalysis\FormattingQAChecks\ActiGraph_FormattingQAChecks\ActiGraph_FormatQA_Data\Sleep\Data\Sleep_Formatted_Centrepoint\CleanSingleNightSleep_Formatted_Centrepoint"

# List all CSV files in the directory
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# Function to read each CSV file
def read_csv(file):
    file_path = os.path.join(folder_path, file)
    return pd.read_csv(file_path)

# Print number of CSV files to check if it's large
print(f"Number of CSV files: {len(csv_files)}")

# Use ThreadPoolExecutor to read the files in parallel
with concurrent.futures.ThreadPoolExecutor() as executor:
    # Map the read_csv function to each file in csv_files
    dfs = list(executor.map(read_csv, csv_files))

# Concatenate all DataFrames into a single DataFrame
sleep_df = pd.concat(dfs, ignore_index=True)

Number of CSV files: 159

C:\Users\aparnaj8\AppData\Local\Temp\ipykernel_666332\2379138355.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  sleep_df = pd.concat(dfs, ignore_index=True)

In [197]:
len(sleep_df)

12862

In [199]:
sleep_df.head(10)

,subj,inbed_time_utc,outbed_time_utc,inbed_time_cst,outbed_time_cst,onset_time_utc,onset_time_cst,latency,total_counts,efficiency,inbed_min,asleep_tst_min,awake_after_sleep_waso_min,awakenings_count,awakenings_min,awakenings_mean_min,sleep_median,sleep_wear
0,RWRAD_001,2021-04-01 03:00:00,2021-04-01 08:15:00,2021-03-31 22:00:00,2021-04-01 03:15:00,2021-04-01 03:00:00,2021-03-31 22:00:00,0,20810,0.904762,315,285,30,12,30,2.500000,False,True
1,RWRAD_001,2021-04-02 03:08:00,2021-04-02 08:25:00,2021-04-01 22:08:00,2021-04-02 03:25:00,2021-04-02 03:08:00,2021-04-01 22:08:00,0,19084,0.892744,317,283,34,16,34,2.125000,False,True
2,RWRAD_001,2021-04-03 04:45:00,2021-04-03 12:45:00,2021-04-02 23:45:00,2021-04-03 07:45:00,2021-04-03 04:45:00,2021-04-02 23:45:00,0,71353,0.816667,480,392,88,20,88,4.400000,False,True
3,RWRAD_001,2021-04-04 04:00:00,2021-04-04 08:15:00,2021-04-03 23:00:00,2021-04-04 03:15:00,2021-04-04 04:10:00,2021-04-03 23:10:00,10,30838,0.847059,255,216,29,9,39,3.222222,False,True
4,RWRAD_001,2021-04-05 02:00:00,2021-04-05 06:00:00,2021-04-04 21:00:00,2021-04-05 01:00:00,2021-04-05 02:09:00,2021-04-04 21:09:00,9,29715,0.825000,240,198,33,13,42,2.538462,False,True
5,RWRAD_001,2021-04-06 02:30:00,2021-04-06 09:15:00,2021-04-05 21:30:00,2021-04-06 04:15:00,2021-04-06 02:37:00,2021-04-05 21:37:00,7,21296,0.891358,405,361,37,16,44,2.312500,False,True
6,RWRAD_001,2021-04-07 04:45:00,2021-04-07 13:18:00,2021-04-06 23:45:00,2021-04-07 08:18:00,2021-04-07 04:45:00,2021-04-06 23:45:00,0,40869,0.851852,513,437,76,15,76,5.066667,False,True
7,RWRAD_001,2021-04-08 02:30:00,2021-04-08 12:00:00,2021-04-07 21:30:00,2021-04-08 07:00:00,2021-04-08 02:40:00,2021-04-07 21:40:00,10,21421,0.931579,570,531,29,20,39,1.450000,False,True
8,RWRAD_001,2021-04-09 03:00:00,2021-04-09 07:45:00,2021-04-08 22:00:00,2021-04-09 02:45:00,2021-04-09 03:00:00,2021-04-08 22:00:00,0,11422,0.933333,285,266,19,7,19,2.714286,False,True
9,RWRAD_001,2021-04-10 02:30:00,2021-04-10 08:00:00,2021-04-09 21:30:00,2021-04-10 03:00:00,2021-04-10 02:33:00,2021-04-09 21:33:00,3,17421,0.906061,330,299,28,8,31,3.500000,False,True

# Count the imputed data

In [201]:
# Count the number of True values in 'sleep_median' column
sleep_median_true_count = sleep_df[sleep_df['sleep_median'] == True].shape[0]

# Print the result
print(f"The count of sleep_median == True is: {sleep_median_true_count}")

The count of sleep_median == True is: 335

## Remove datapoints where Sleep_wear==false

In [203]:
# Count the number of 'False' values in 'sleep_wear' for each unique 'subj'
false_counts = sleep_df.groupby('subj')['sleep_wear'].apply(lambda x: (x == False).sum()).reset_index()

# Rename columns for clarity
false_counts.columns = ['subj', 'false_count']

In [205]:
false_counts.head()

        subj  false_count
0  RWRAD_001            0
1  RWRAD_002            1
2  RWRAD_003            0
3  RWRAD_004            4
4  RWRAD_005            0

In [207]:
# Calculate the sum of the 'false_count' column
total_false_count = false_counts['false_count'].sum()

# Display the result
print(total_false_count)

658

In [209]:
# Remove rows where 'sleep_wear' is False
sleep_df_filtered = sleep_df[sleep_df['sleep_wear'] != False].reset_index(drop=True)

In [211]:
len(sleep_df_filtered)

12204

In [219]:
sleep_df_filtered.head()

,subj,inbed_time_utc,outbed_time_utc,inbed_time_cst,outbed_time_cst,onset_time_utc,onset_time_cst,latency,total_counts,efficiency,inbed_min,asleep_tst_min,awake_after_sleep_waso_min,awakenings_count,awakenings_min,awakenings_mean_min,sleep_median,sleep_wear,inbed_date_utc,week_number
0,RWRAD_001,2021-04-01 03:00:00,2021-04-01 08:15:00,2021-03-31 22:00:00,2021-04-01 03:15:00,2021-04-01 03:00:00,2021-03-31 22:00:00,0,20810,0.904762,315,285,30,12,30,2.500000,False,True,2021-04-01,13
1,RWRAD_001,2021-04-02 03:08:00,2021-04-02 08:25:00,2021-04-01 22:08:00,2021-04-02 03:25:00,2021-04-02 03:08:00,2021-04-01 22:08:00,0,19084,0.892744,317,283,34,16,34,2.125000,False,True,2021-04-02,13
2,RWRAD_001,2021-04-03 04:45:00,2021-04-03 12:45:00,2021-04-02 23:45:00,2021-04-03 07:45:00,2021-04-03 04:45:00,2021-04-02 23:45:00,0,71353,0.816667,480,392,88,20,88,4.400000,False,True,2021-04-03,13
3,RWRAD_001,2021-04-04 04:00:00,2021-04-04 08:15:00,2021-04-03 23:00:00,2021-04-04 03:15:00,2021-04-04 04:10:00,2021-04-03 23:10:00,10,30838,0.847059,255,216,29,9,39,3.222222,False,True,2021-04-04,13
4,RWRAD_001,2021-04-05 02:00:00,2021-04-05 06:00:00,2021-04-04 21:00:00,2021-04-05 01:00:00,2021-04-05 02:09:00,2021-04-04 21:09:00,9,29715,0.825000,240,198,33,13,42,2.538462,False,True,2021-04-05,14

## calculate week and date

In [217]:
# Ensure 'inbed_time_utc' is in datetime format
sleep_df_filtered['inbed_time_utc'] = pd.to_datetime(sleep_df_filtered['inbed_time_utc'], errors='coerce')

# Extract only the date part (ignore the time) and calculate the week number
sleep_df_filtered['inbed_date_utc'] = sleep_df_filtered['inbed_time_utc'].dt.date  # Keep only the date part

# Now calculate the week number based on the date
sleep_df_filtered['week_number'] = pd.to_datetime(sleep_df_filtered['inbed_date_utc']).dt.isocalendar().week

# Check the result
print(sleep_df_filtered[['inbed_date_utc', 'week_number']].head())

  inbed_date_utc  week_number
0     2021-04-01           13
1     2021-04-02           13
2     2021-04-03           13
3     2021-04-04           13
4     2021-04-05           14

In [221]:
# Drop the 'week_number_cst' column
sleep_df_filtered = sleep_df_filtered.drop(columns=['inbed_date_utc'])

In [223]:
# Assuming your DataFrame is named 'df'
sleep_df_filtered.to_csv('sleep_variables.csv', index=False)

In [225]:
sleep_df_filtered.dtypes

subj                                  object
inbed_time_utc                datetime64[ns]
outbed_time_utc                       object
inbed_time_cst                        object
outbed_time_cst                       object
onset_time_utc                        object
onset_time_cst                        object
latency                               object
total_counts                          object
efficiency                           float64
inbed_min                             object
asleep_tst_min                        object
awake_after_sleep_waso_min            object
awakenings_count                      object
awakenings_min                        object
awakenings_mean_min                  float64
sleep_median                          object
sleep_wear                            object
week_number                           UInt32
dtype: object

In [227]:
sleep_df_filtered.head()

,subj,inbed_time_utc,outbed_time_utc,inbed_time_cst,outbed_time_cst,onset_time_utc,onset_time_cst,latency,total_counts,efficiency,inbed_min,asleep_tst_min,awake_after_sleep_waso_min,awakenings_count,awakenings_min,awakenings_mean_min,sleep_median,sleep_wear,week_number
0,RWRAD_001,2021-04-01 03:00:00,2021-04-01 08:15:00,2021-03-31 22:00:00,2021-04-01 03:15:00,2021-04-01 03:00:00,2021-03-31 22:00:00,0,20810,0.904762,315,285,30,12,30,2.500000,False,True,13
1,RWRAD_001,2021-04-02 03:08:00,2021-04-02 08:25:00,2021-04-01 22:08:00,2021-04-02 03:25:00,2021-04-02 03:08:00,2021-04-01 22:08:00,0,19084,0.892744,317,283,34,16,34,2.125000,False,True,13
2,RWRAD_001,2021-04-03 04:45:00,2021-04-03 12:45:00,2021-04-02 23:45:00,2021-04-03 07:45:00,2021-04-03 04:45:00,2021-04-02 23:45:00,0,71353,0.816667,480,392,88,20,88,4.400000,False,True,13
3,RWRAD_001,2021-04-04 04:00:00,2021-04-04 08:15:00,2021-04-03 23:00:00,2021-04-04 03:15:00,2021-04-04 04:10:00,2021-04-03 23:10:00,10,30838,0.847059,255,216,29,9,39,3.222222,False,True,13
4,RWRAD_001,2021-04-05 02:00:00,2021-04-05 06:00:00,2021-04-04 21:00:00,2021-04-05 01:00:00,2021-04-05 02:09:00,2021-04-04 21:09:00,9,29715,0.825000,240,198,33,13,42,2.538462,False,True,14

In [229]:
sleep_df_filtered['week_number'].nunique()     ### 52.14 weeks in a year

52

In [231]:
# Group by 'subj' and 'week_number' and count the occurrences (size of each group)
week_counts = sleep_df_filtered.groupby(['subj', 'week_number']).size().reset_index(name='count')

# Find the maximum count from the grouped data
max_count = week_counts['count'].max()

# Print the maximum count
print(f"The maximum count of entries for a unique week number and subject combination is {max_count}")

The maximum count of entries for a unique week number and subject combination is 31

In [167]:
# Drop the 'week_number_cst' column
#sleep_df_filtered = sleep_df_filtered.drop(columns=['week_number_cst'])

In [233]:
# Count the number of NaN values in the 'inbed_time_utc' column
nan_count = sleep_df_filtered['inbed_time_utc'].isna().sum()

# Print the result
print(f"The number of NaN values in 'inbed_time_utc' column is: {nan_count}")

The number of NaN values in 'inbed_time_utc' column is: 14

In [235]:
# Drop rows where 'inbed_time_utc' is NaN
sleep_df_filtered = sleep_df_filtered.dropna(subset=['inbed_time_utc'])

In [237]:
# Ensure 'inbed_time_utc' is in datetime format if it isn't already
sleep_df_filtered['inbed_time_utc'] = pd.to_datetime(sleep_df_filtered['inbed_time_utc'], errors='coerce')

# Fill NaN values with a default year (e.g., 0 or any year you prefer)
sleep_df_filtered['year'] = sleep_df_filtered['inbed_time_utc'].dt.year.fillna(0).astype(int)

In [239]:
# Group by 'subj' and 'week_number', and get the number of unique 'year' values for each group
year_counts = sleep_df_filtered.groupby(['subj', 'week_number'])['year'].nunique().reset_index(name='unique_year_count')

# Filter for rows where the count of unique 'year' is greater than 1
multiple_years = year_counts[year_counts['unique_year_count'] > 1]

# Get the list of subj names for these pairs
subj_names = multiple_years[['subj', 'week_number']]

# Print the result
print("The subj and week_number pairs where more than one unique year exists:")
print(subj_names)

# Get the count of such pairs
count_multiple_years = subj_names.shape[0]

# Print the count
print(f"The count of pairs where subj and week_number have more than one unique year is: {count_multiple_years}")

The subj and week_number pairs where more than one unique year exists:
           subj  week_number
357   RWRAD_027           52
565   RWRAD_044           52
643   RWRAD_052           52
656   RWRAD_053           52
667   RWRAD_054           52
680   RWRAD_055           52
690   RWRAD_058           52
712   RWRAD_060           52
724   RWRAD_061           52
736   RWRAD_062           52
746   RWRAD_063           52
758   RWRAD_064           52
770   RWRAD_065           52
784   RWRAD_066           52
1489  RWRAD_122           52
1503  RWRAD_123           52
1547  RWRAD_129           52
1562  RWRAD_130           52
1577  RWRAD_131           52
1591  RWRAD_132           52
1605  RWRAD_133           52
The count of pairs where subj and week_number have more than one unique year is: 21

## calculate the metrics of sleep based on each subj, week and year

In [241]:
# Group by 'subj', 'week_number', and 'year' and calculate the mean for the required columns
mean_values = sleep_df_filtered.groupby(['subj', 'week_number', 'year']).agg(
    mean_efficiency=('efficiency', 'mean'),
    mean_awakenings_mean_min=('awakenings_mean_min', 'mean'),
    mean_awake_after_sleep_waso_min=('awake_after_sleep_waso_min', 'mean')
).reset_index()

# Add 'inbed_time_utc' and 'inbed_time_cst' to the new DataFrame
# For 'inbed_time_utc', we will use the first entry of each group (or any other aggregation as needed)
mean_values['inbed_time_utc'] = sleep_df_filtered.groupby(['subj', 'week_number', 'year'])['inbed_time_utc'].first().reset_index(drop=True)
mean_values['inbed_time_cst'] = sleep_df_filtered.groupby(['subj', 'week_number', 'year'])['inbed_time_cst'].first().reset_index(drop=True)

In [243]:
mean_values.head()

,subj,week_number,year,mean_efficiency,mean_awakenings_mean_min,mean_awake_after_sleep_waso_min,inbed_time_utc,inbed_time_cst
0,RWRAD_001,13,2021,0.865308,3.061806,45.25,2021-04-01 03:00:00,2021-03-31 22:00:00
1,RWRAD_001,14,2021,0.879807,3.095035,45.714286,2021-04-05 02:00:00,2021-04-04 21:00:00
2,RWRAD_001,15,2021,0.875554,4.256156,53.857143,2021-04-12 03:00:00,2021-04-11 22:00:00
3,RWRAD_001,16,2021,0.889752,3.263387,35.857143,2021-04-19 05:40:00,2021-04-19 00:40:00
4,RWRAD_001,17,2021,0.925161,2.291721,26.714286,2021-04-26 03:15:00,2021-04-25 22:15:00

In [245]:
# Assuming your DataFrame is named 'df'
mean_values.to_csv('mean_sleep_variables.csv', index=False)

## Load Final Model dataset and add Sleep Variables

In [178]:
# Define the file path
file_path = r'C:/Users/aparnaj8/Box/InTrans/RWRAD_Internal/Final_files_with_variables/Final_list_of_variables/weekly_stats_demo_cleaned_for_model.csv'

# Read the CSV file into a DataFrame
final_df_model = pd.read_csv(file_path)

In [180]:
final_df_model.head()

,subj,week_number,year,total_miles,total_trips,avg_miles_per_trip,total_minutes,avg_minutes_per_trip,non_nighttime_trips,percent_non_nighttime,...,avg_trip_speed,avg_trip_accel_x,hard_brake_events,stoppage_probability,education_years,gender,age,subj_type,race,education_numberofyears_nacc
0,RWRAD_001,11,2021,81.858703,17.0,4.815218,284.533333,16.737255,17.0,100.0,...,18.559818,0.005058,2.0,NaN,mastersdegree,male,79.0,mci,white,18.0
1,RWRAD_001,12,2021,89.800539,22.0,4.081843,303.000000,13.772727,22.0,100.0,...,18.578412,0.006890,2.0,NaN,mastersdegree,male,79.0,mci,white,18.0
2,RWRAD_001,13,2021,311.730769,31.0,10.055831,612.866667,19.769892,31.0,100.0,...,23.202138,0.005666,0.0,NaN,mastersdegree,male,79.0,mci,white,18.0
3,RWRAD_001,14,2021,83.971941,26.0,3.229690,311.983333,11.999359,26.0,100.0,...,19.028626,0.006027,2.0,NaN,mastersdegree,male,79.0,mci,white,18.0
4,RWRAD_001,15,2021,151.992413,20.0,7.599621,296.400000,14.820000,20.0,100.0,...,23.956317,0.006580,4.0,NaN,mastersdegree,male,79.0,mci,white,18.0

In [247]:
# Merge the 'mean_values' DataFrame with 'final_df_model' based on 'subj', 'week_number', and 'year'
merged_df = final_df_model.merge(mean_values[['subj', 'week_number', 'year', 'mean_efficiency', 'mean_awakenings_mean_min', 'mean_awake_after_sleep_waso_min']],
                                 on=['subj', 'week_number', 'year'],
                                 how='left')

In [251]:
merged_df.head()

,subj,week_number,year,total_miles,total_trips,avg_miles_per_trip,total_minutes,avg_minutes_per_trip,non_nighttime_trips,percent_non_nighttime,...,stoppage_probability,education_years,gender,age,subj_type,race,education_numberofyears_nacc,mean_efficiency,mean_awakenings_mean_min,mean_awake_after_sleep_waso_min
0,RWRAD_001,11,2021,81.858703,17.0,4.815218,284.533333,16.737255,17.0,100.0,...,NaN,mastersdegree,male,79.0,mci,white,18.0,NaN,NaN,NaN
1,RWRAD_001,12,2021,89.800539,22.0,4.081843,303.000000,13.772727,22.0,100.0,...,NaN,mastersdegree,male,79.0,mci,white,18.0,NaN,NaN,NaN
2,RWRAD_001,13,2021,311.730769,31.0,10.055831,612.866667,19.769892,31.0,100.0,...,NaN,mastersdegree,male,79.0,mci,white,18.0,0.865308,3.061806,45.25
3,RWRAD_001,14,2021,83.971941,26.0,3.229690,311.983333,11.999359,26.0,100.0,...,NaN,mastersdegree,male,79.0,mci,white,18.0,0.879807,3.095035,45.714286
4,RWRAD_001,15,2021,151.992413,20.0,7.599621,296.400000,14.820000,20.0,100.0,...,NaN,mastersdegree,male,79.0,mci,white,18.0,0.875554,4.256156,53.857143

In [253]:
# Check for rows where 'mean_efficiency' is NaN after the merge
missing_rows = merged_df[merged_df['mean_efficiency'].isna()]

print(f"Rows in 'final_df_model' that have no match in 'mean_values':")
print(missing_rows[['subj', 'week_number', 'year']])

Rows in 'final_df_model' that have no match in 'mean_values':
           subj  week_number  year
0     RWRAD_001           11  2021
1     RWRAD_001           12  2021
14    RWRAD_002           11  2021
15    RWRAD_002           12  2021
48    RWRAD_004           21  2021
...         ...          ...   ...
1280  RWRAD_103           33  2022
1283  RWRAD_103           36  2022
1343  RWRAD_110           45  2022
1430  RWRAD_119           39  2022
1488  RWRAD_128           52  2022

[162 rows x 3 columns]

In [255]:
# Assuming your DataFrame is named 'df'
merged_df.to_csv('weekly_stats_demo_cleaned_for_model_v1.csv', index=False)